.idea
.venv
misc.xml
/Python_OOP/Classes_Objects/Exercise/project.zip
/Python_OOP/Classes_Objects/Exercise/project_05.zip
/Python_OOP/Classes_Objects/Exercise/project_06.zip
/Python_OOP/Classes_Objects/Exercise/project_07.zip
